@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1
&
  position relative
  text-align center
  .tweet
    width 7px
    height 7px
    background ColorBlue
    animation fadeIn 0.8s

  .tag-tweets
    position relative
    z-index 999
    > div
      position absolute
      transition transform 0.8s
  .bar-charts
    @import barCharts
  .vertical-chart
    float left
    display inline-block
    position relative
    width 100%
    margin-bottom 60px
  .vertical-chart-display
    position absolute
    left 30px
    right 15px
    text-align left
    color black
    text-decoration none
    opacity 0
    transition opacity 0.8s
    &.active
      opacity 1
    .content
      margin-top -11px
      blockquote
        margin 0 0 8px 0
        font-style italic
      .time
        display block
        text-align right
        font-style italic
      .tags
        display block
        margin-top 8px
        font-size 14px
    &:before
      content ""
      position absolute
      top 1px
      left -20px
      triangle 6px 16px "left" ColorBlue
    &:after
      content ""
      position absolute
      top 1px
      left -19px
      triangle 6px 16px "left" #fff
  .timeline
    float left
    display inline-block
    position relative
    width calc(100% - 40px)
    max-width 1000px
    margin-top -40px
    margin-bottom 200px
    min-height 435px
    .labels
      position absolute
      left 0
      width 100%
      top 435px
    .line
      position absolute
      top 5px
      border-top 1px solid ColorGreyBorder

    .label
      position absolute
      top 8px
      text-align left
      .date
        display block
        font-size 12px
        max-width 100px
        @media screen and (max-width: 380px)
          max-width 50px
      .text
        display block
        margin-top 8px
        max-width 100px
        font-size 14px
        .small-only
          display none
        @media screen and (max-width: 380px)
          .small-only
            display inline
          .big-only
            display none
      &:last-child
        left auto
        right 0

  .intermezzo
    margin 60px 0
    float left
    width 100%
    .tweet
      display inline-block
      margin 0 6px
      vertical-align middle
