@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1
&
  position relative
  text-align center
  .tag-tweets
    position relative
    z-index 999
    .tweet
      display block
      position absolute
      transition transform 0.8s
      cursor pointer
    .tag-detail
      display block
      position absolute
      top 0
      left 0
      background #fafafa
      border 1px solid ColorGreyBorder
      z-index 9999
      padding 4px 6px
      display none
      max-width 500px
      text-decoration none
      color black
      &.active
        display block
      blockquote
        margin 0 0 8px 0
        text-align left
        font-style italic
      .time
        display block
        text-align right
        font-style italic
      .arrow
        width 10px
        height 10px
        position absolute
        bottom -10px
        margin-left -5px
        pointer-events none
        &:before
        &:after
          content ""
          position absolute
          top 0
          left 0
        &:before
          triangle 16px 6px "bottom" ColorGreyBorder
        &:after
          top -1px
          triangle 16px 6px "bottom" #fafafa
  .bar-charts
    @import barCharts
  .vertical-chart
    float left
    display inline-block
    position relative
    width 100%
    margin-bottom 60px
    @media MediaMobile
      margin-bottom 80px
  .vertical-chart-display
    position absolute
    left 30px
    right 15px
    text-align left
    color black
    text-decoration none
    opacity 0
    transition opacity 0.8s
    max-width 700px
    &.active
      opacity 1
    .content
      margin-top -11px
      blockquote
        margin 0 0 8px 0
        font-style italic
      .time
        display block
        text-align right
        font-style italic
      .tags
        display block
        margin-top 8px
        font-size 14px
    &:before
      content ""
      position absolute
      top 1px
      left -20px
      triangle 6px 16px "left" ColorBlue
    &:after
      content ""
      position absolute
      top 1px
      left -19px
      triangle 6px 16px "left" #fff
  .timeline
    float left
    display inline-block
    position relative
    width calc(100% - 40px)
    // max-width 1000px
    margin 0 auto
    margin-top -40px
    margin-bottom 200px
    min-height 435px
    .labels
      position absolute
      left 0
      width 100%
      top 435px
    .line
      position absolute
      top 5px
      border-top 1px solid ColorGreyBorder

    .label
      position absolute
      top 8px
      text-align left
      .date
        display block
        font-size 12px
        max-width 100px
        @media screen and (max-width: 380px)
          max-width 50px
      .text
        display block
        margin-top 8px
        max-width 100px
        font-size 14px
        .small-only
          display none
        @media screen and (max-width: 380px)
          .small-only
            display inline
          .big-only
            display none
      &:last-child
        left auto
        right 0

  .intermezzo
    margin 60px 0
    float left
    width 100%
    .tweet
      display inline-block
      margin 0 6px
      vertical-align middle
