@import colors
@import prefixes
@import 'components/triangle'
#drawing
  @import drawing
MediaMobile = "screen and (max-width: 740px)"
body
  font-family 'PT Serif', Georgia, serif
  padding-top 50px
  header
    position fixed
    top 0
    left 0
    width 100%
    height 44px
    border-bottom 1px solid ColorGreyBorder
    box-shadow 0 0 9px #ddd
    background white
    z-index 9999
    #logo
      svg
        max-width 117px
        position absolute
        right 15px
        transform translate(0)
        top 0px
        transition right 0.2s, transform 0.2s
    #headline
      position absolute
      left 15px
      top 10px
      font-size 16px
      opacity 1
      transition opacity 0.2s
      b
        text-transform uppercase
      .sub
        color ColorGreyText
      .sub
      .divider
        @media MediaMobile
          display none
    &.top
      #headline
        opacity 0
      #logo svg
        right 50%
        transform translate(50%, 0)
  main
    text-align center
    h1
      font-size 54px
      margin 0.3em 0 0.2em 0
      font-weight normal
    h2
      font-size 24px
      margin 0 0 1.4em 0
      font-weight normal
      color #4
    p
      font-size 17px
      line-height 1.8em
      max-width 650px
      margin 0 auto
