@import colors
@import prefixes
@import 'components/triangle'
MediaMobile = "screen and (max-width: 740px)"
@import template
p.methodology
  font-style italic
p
  position relative
  z-index 2
  background rgba(255,255,255,0.7)
main
  display block
span.sys
  border-bottom 2px solid ColorBlue
span.antisys
  border-bottom 2px solid darken(ColorRed, 50%)
.ig
  display inline-block
  .feed
    width 50%
    float left
    text-align left
    max-width 560px
    &.right
      padding-left 8px
    @media MediaMobile
      &.left
        width 100%
        overflow hidden
      &.right
        display none

    ul.selector
      list-style none
      margin 0 0 0 -3px
      padding 0
      li
        float left
        border 1px solid rgba(ColorBlue, 70%)
        border-radius 2px
        padding 1px 4px
        margin 3px 5px
        font-size 15px
        a
          color darken(desaturate(ColorBlue, 60%), 40%)
          text-decoration none

        &:hover
          background lighten(ColorBlue, 94%)
        &:active
          background lighten(ColorBlue, 10%)
          a
            color white
        &.active
          background ColorBlue
          a
            color white
        &.antisys
          border 1px solid darken(ColorRed, 50%)
          a
            color darken(desaturate(ColorRed, 60%), 60%)
          &:hover
            background lighten(ColorRed, 90%)
          &:active
            background lighten(ColorRed, 10%)
            a
              color white
          &.active
            background darken(ColorRed, 50%)
            a
              color white
.feed-container
  margin-bottom 40px
  .feed.left
    border-right 1px dashed #c
    @media MediaMobile
      border-right 0
  .content
    margin-top 10px
    float left
    width 100%
    .fb-post
      margin-top 15px
    > .more
      margin-top 15px
      display block
      max-width 550px
      border 1px solid #d
      padding 10px 0
      text-align center
      width 100%
      border-radius 3px
      color ColorBlue
      &:hover
        text-decoration none

.pages-container
  .top-container
    position relative
  .bottom-container
    float left
    width 100%
  .pages
    width calc(50% - 40px)
    @media MediaMobile
      width 100%
    LineHeight = 26px
    .content
      position relative
      float left
      width 100%
      // height (20 * LineHeight)
      margin-top 20px
      margin-bottom 20px
    .page
      clear left
      float left
      position absolute
      top 0
      border 1px solid ColorBlue
      height 14px
      transition top 0.4s, width 0.4s, background 0.2s
      background #FFF
      &.active
        background rgba(ColorBlue, 0.3)
      .label
        position absolute
        white-space nowrap
        top -3px
        font-size 14px
    &.left
      clear left
      margin-right 40px
      .page
        text-align right
        right 0
        border-top-left-radius 2px
        border-bottom-left-radius 2px
        .label
          right 100%
          padding-right 10px
    &.right
      margin-left 40px
      .page
        left 0
        border-top-right-radius 2px
        border-bottom-right-radius 2px
        .label
          left 100%
          padding-left 10px
  svg
    @media MediaMobile
      display none
    position absolute
    margin-left 4px
    top 9px
    left 100%
    path
      fill none
      stroke rgba(ColorBlue, 20%)
      &.active
        stroke rgba(ColorBlue, 80%)
  .agreement
    @media MediaMobile
      display none
    position absolute
    left 50%
    top 0
    transform translate(-50%, 0)
    width 88px
    .value
    .label
      float left
      width 100%
      text-align center
      display block
      line-height 1.2em
    .value
      font-size 30px
.pages-filtered
  .left ul.selector li.antisys
    display none
  .right ul.selector li
    display none
    &.antisys
      display block
  @media MediaMobile
    .left ul.selector li.antisys
      display block
.force
  position relative
  z-index 1
  width 90vw
  max-width 1000px
  height 70vh
  max-height 600px
  svg
    overflow visible
    line
      stroke #eeeef0
    circle
      stroke ColorBlue
      stroke-width 1.5
      fill white
    text
      font-size 14px
    .antisys circle
      stroke darken(ColorRed, 50%)
.flow
  position relative
  width 98vw
  height 70vh
  svg
    g.party text
      display none
    g.parties
      rect
        fill ColorGreyBorder
    g.lines
      path
        fill none
      path.back
        stroke white
        stroke-width 6
      path.fore
        stroke-width 2
    g.point
      text
        fill white
        font-size 12px
        font-weight bold
    .dimmable
      transition opacity 0.2s
    text.name
      font-size 12px
    text.non-fill
      opacity 0.5
      transition opacity 0.2s
    g.lines:hover
      .dimmable
        opacity 0.2
      .line:hover
        cursor default
        .dimmable
        text.non-fill
          opacity 1
    g.lines g.line.passive .dimmable
      opacity 0

  select
    position absolute
    transform translate(-50%, 0)
    border 1px solid white
    transition border 0.2s
    top 0
    &:hover
      border 1px solid #d
@keyframes pulsate
  0%
    transform scale(.1)
    opacity 0.0
  50%
    opacity 1
  100%
    transform scale(1.2)
    opacity 0

@keyframes rotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.you
  margin-bottom 60px
  margin-top 20px
  position relative
  .computing-note
    z-index 2
    display block
    position absolute
    top 0
    left 0
    bottom 0
    width 100%
    padding-top 80px
    font-size 18px
    background rgba(255,255,255,0.95)
    background linear-gradient(to bottom, rgba(255,255,255,0.85) 40px, rgba(255,255,255,0.95) 70px,rgba(255,255,255,0.95) 150px, rgba(255,255,255,0.85) 190px )
    opacity 1
    transition opacity 0.6s
    color black
    text-decoration none
    &.exiting
      opacity 0

      pointer-events none
    .dismiss-btn
      display inline-block
      margin-top 20px
    .spinner
      position static
      display inline-block
      margin-top 50px

  .empty-note
    display none
  &.is-empty.done
    border 1px solid #D
    border-radius 3px
    padding 15px 20px
    > *
      display none
    .empty-note
      display block
      text-align-last center
      p
        margin-bottom 10px

  &:empty
    min-height 40px
    min-width 100%
  &:empty&:before
  .spinner
    content ""
    display block
    position absolute
    left 50%
    top 50%
    height 28px
    width 28px
    animation rotate 1.3s infinite linear
    border 8px solid ColorBlue
    border-right-color transparent
    border-radius 50%


  .left ul.selector li:not(.user-party)
  .right ul.selector li.user-party
    display none
  .btn
    display inline-block
    font-size 20px
    background ColorBlue
    color white
    padding 6px 15px
    text-decoration none
    border-radius 3px
    &:hover
      background rgba(ColorBlue, 0.8)
    @media MediaMobile
      width 100%
  .force-container
    width 90vw
    max-width 1000px
    height 70vh
    max-height 600px
    svg
      .antisys circle
        stroke ColorBlue
      .you circle
        fill lighten(ColorRed, 93%)
        stroke darken(ColorRed, 50%)
  .final-buttons
    .btn
      margin-top 30px
    .btn-link-full
      margin-left 30px
      background darken(ColorRed, 50%)
      @media MediaMobile
        margin-left 0
      &:hover
        background rgba(@background, 0.8)
  @media MediaMobile
    .pages-container
      .bottom-container
        width 100%
        display flex
        flex-direction column
        .top-container
          order 2
          .pages.left
            display none
        .feed.left
          order 1
          .page
            text-align left
            right auto
            border-top-left-radius 0px
            border-bottom-left-radius 0px
            border-top-right-radius 2px
            border-bottom-right-radius 2px
            .label
              right auto
              left 100%
              padding-right 0
              padding-left 10px
          &:before
            content "Vámi sdílené stránky"
            display block
            float left
            border 1px solid rgba(ColorBlue, 70%)
            background ColorBlue
            color white
            border-radius 2px
            padding 1px 4px
            margin 3px 5px
            margin-left 0
            font-size 15px
        .feed.right
          order 3
          margin-left 0
          padding-left 0
          display block

// main.game
