@import colors
@import prefixes
@import 'components/triangle'
MediaMobile = "screen and (max-width: 740px)"
@import template
p.methodology
  font-style italic
p
  position relative
  z-index 2
  background rgba(255,255,255,0.7)
.ig
  display inline-block
  .feed
    width 50%
    float left
    text-align left
    max-width 560px
    &.right
      padding-left 8px
    @media MediaMobile
      &.left
        width 100%
        overflow hidden
      &.right
        display none

    ul.selector
      list-style none
      margin 0 0 0 -3px
      padding 0
      li
        float left
        border 1px solid rgba(ColorBlue, 70%)
        border-radius 2px
        padding 1px 4px
        margin 3px 5px
        font-size 15px
        a
          color darken(desaturate(ColorBlue, 60%), 40%)
          text-decoration none

        &:hover
          background lighten(ColorBlue, 94%)
        &:active
          background lighten(ColorBlue, 10%)
          a
            color white
        &.active
          background ColorBlue
          a
            color white
        &.antisys
          border 1px solid darken(ColorRed, 50%)
          a
            color darken(desaturate(ColorRed, 60%), 60%)
          &:hover
            background lighten(ColorRed, 90%)
          &:active
            background lighten(ColorRed, 10%)
            a
              color white
          &.active
            background darken(ColorRed, 50%)
            a
              color white
.feed-container
  margin-bottom 40px
  .feed.left
    border-right 1px dashed #c
    @media MediaMobile
      border-right 0
  .content
    margin-top 10px
    float left
    width 100%
    .fb-post
      margin-top 15px
    > .more
      margin-top 15px
      display block
      max-width 550px
      border 1px solid #d
      padding 10px 0
      text-align center
      width 100%
      border-radius 3px
      color ColorBlue
      &:hover
        text-decoration none

.pages-container
  .top-container
    position relative
  .bottom-container
    float left
    width 100%
  .pages
    width calc(50% - 40px)
    @media MediaMobile
      width 100%
    LineHeight = 26px
    .content
      position relative
      float left
      width 100%
      height (20 * LineHeight)
      margin-top 20px
      margin-bottom 20px
    .page
      clear left
      float left
      position absolute
      top 0
      border 1px solid ColorBlue
      height 14px
      transition top 0.4s, width 0.4s, background 0.2s
      background #FFF
      &.active
        background rgba(ColorBlue, 0.3)
      .label
        position absolute
        white-space nowrap
        top -3px
        font-size 14px
    &.left
      margin-right 40px
      .page
        text-align right
        right 0
        border-top-left-radius 2px
        border-bottom-left-radius 2px
        .label
          right 100%
          padding-right 10px
    &.right
      margin-left 40px
      .page
        left 0
        border-top-right-radius 2px
        border-bottom-right-radius 2px
        .label
          left 100%
          padding-left 10px
  svg
    @media MediaMobile
      display none
    position absolute
    margin-left 4px
    top 9px
    left 100%
    path
      fill none
      stroke rgba(ColorBlue, 20%)
      &.active
        stroke rgba(ColorBlue, 80%)
  .agreement
    @media MediaMobile
      display none
    position absolute
    left 50%
    top 50%
    transform translate(-50%, 0)
    width 88px
    .value
    .label
      float left
      width 100%
      text-align center
      display block
      line-height 1.2em
    .value
      font-size 30px
.pages-filtered
  .left ul.selector li.antisys
    display none
  .right ul.selector li
    display none
    &.antisys
      display block
  @media MediaMobile
    .left ul.selector li.antisys
      display block
.force
  position relative
  z-index 1
  width 90vw
  max-width 1000px
  height 70vh
  max-height 600px
  svg
    overflow visible
    line
      stroke #eeeef0
    circle
      stroke ColorBlue
      stroke-width 1.5
      fill white
    text
      font-size 14px
